header {
    text-align: center;
    h1 {
        font-size: 72px;
        background-image: url(../../assets/pexels-steve-johnson-1266808.jpg);
        background-repeat: none;
        background-position: center;
        color: transparent;
        background-clip: text;
        margin-left: 40px;
    }
}

body {
    background-image: url(../../assets/pexels-andre-moura-3774895.jpg);
    background-repeat: none;
    background-position: center;
}

