.section {
  display: flex;
  justify-content: center;
  // align-items: flex-start;
  align-items: center;
}


.container {
  width: 600px;
  height: 600px;
}

.main {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.box {
    background-color: white;
    transition: background-color 0.5s ease; 
  }